
body {
  background-color: #eb670f;
  font-family: Papyrus;
  margin: 0;
}

.buy-now {
  position: absolute;
  width: 100%;
  height: 550px;
  z-index: 2;
}

.buy-now > .buy-now-inner {
  width: 100%;
  height: 100%;
}

@keyframes bg-color-change {
  0% {
    background: black;
  }
  50% {
    background: #eb670f;
  }
}

.buy-now-inner > .shape {
  position: absolute;
  max-width: 450px;
  width: 100%;
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: bg-color-change 1s steps(1) infinite;

  clip-path: polygon(0 0, 18% 12%, 26% 0, 37% 13%, 50% 1%, 59% 13%, 79% 0, 82% 21%, 100% 15%, 89% 35%, 100% 45%, 91% 56%, 100% 70%, 83% 74%, 93% 97%, 60% 83%, 52% 100%, 39% 81%, 19% 100%, 20% 77%, 0 84%, 12% 64%, 0 57%, 10% 42%, 0% 29%, 9% 19%);
}

.buy-now-inner > .shape-2 {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 430px;
    width: 100%;
    height: 240px;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../radicalPhotos/head.png");

    clip-path: polygon(0 0, 18% 12%, 26% 0, 37% 13%, 50% 1%, 59% 13%, 79% 0, 82% 21%, 100% 15%, 89% 35%, 100% 45%, 91% 56%, 100% 70%, 83% 74%, 93% 97%, 60% 83%, 52% 100%, 39% 81%, 19% 100%, 20% 77%, 0 84%, 12% 64%, 0 57%, 10% 42%, 0% 29%, 9% 19%);
}

.buy-now-inner .text-container {
  position: absolute;
  width: 450px;
  height: 250px;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text-container > a {
  text-decoration: none;
}

.text-container > a:hover > p{
  color: #eb670f; 
}

.text-container p {
  font-family: Papyrus;
  font-size: 1.9em;
  font-style: italic;
  color: springgreen;
  transform: rotate(-15deg);
  margin-top: 0px;
  text-shadow: -1px 2px purple;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

#sticky {
  position: absolute;
  max-width: 300px;
  width: 100%;
  height: auto;
  z-index: 2;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  animation: rotate 2.5s linear infinite; 
}

#main {
  width: 100%;
  height: 100vh;
}

#phish {
  width: 100%;
  height: 110vh;
  background-color: lightskyblue;
}

#sustainability {
  width: 100%;
  height: 70vh;
  background-color: darkslategrey;
}

/* Top header. H1 pittedgnar.com and world gif */

#pittedgnar-main {
  width: 59vw;
  position: absolute;
  z-index: 1;
}

#h1-pittedgnar {
  color: darkslategrey;
  font-size: 6.2vw;
  display: table-cell;
  padding-top: 13px;
}

#world-gif {
  position: absolute;
  height: 100%;
  margin-left: 3.6vw;
  transform: rotate(-20deg);
  user-select: none;
}

#world-div {
  display: table-cell;
  width: 100%;
  height: 100%;
}

#world {
  color: deeppink;
  margin-top: 5.7vh;
  margin-left: 1.6vw;
  position: absolute;
  transform: rotate(-17deg);
  font-size: 2.3vw;
}

/* End of top header */

/* Ambience */

#ambience {
  right: 4vw;
  position: absolute;
  margin-top: 2vh;
  z-index: 1;
}

#ambience-h1 {
  font-size: 5vh;
}

/* Ambience end */

/* Cowabunga */

#cowabunga {
  margin-top: 12vh;
  margin-left: 2vw;
  width: 90vw;
  height: 77vh;
  transform: rotate(-5deg);
  position: absolute;
}

/* Looking */

#looking {
  position: relative;
  width: 19vw;
  float: right;
  margin-right: 1vw;
  margin-top: 12vh;
}

/* Menu-bar */

#menu-bar {
  cursor: pointer;
  position: absolute;
  width: 10vh;
  height: 10vh;
  margin-top: 10vw;
  margin-left: 2vw;
  z-index: 3;
}

#menu-bar:hover > .bar {
  background-color: red
}

.bar {
  background-color: lightskyblue;
  position: absolute;
  width: 90%;
  height: 15%;
  margin-left: 5%;
  border-radius: 4px;
}

#bar1 {
  margin-top: 15%
}

#bar2 {
  margin-top: 45%
}

#bar3 {
  margin-top: 75%
}

/* End of menu bar */

/* Menu */

#menu {
  position: absolute;
  width: 16vw;
  height: 32vh;
  margin-top: 30vh;
  margin-left: 8vw;
  visibility: hidden;
}

#menuLink {
  color: lightskyblue;
  display: inline-block;
  font-size: 3vh;
}

#menuLink-team {
  color: lightskyblue;
  display: inline-block;
  font-size: 3vh;
  text-decoration: underline;
  cursor: pointer;
}

#menuLink-team:hover {
  color: lawngreen;
  text-decoration: underline;
}

#menuLink:hover {
  color: lawngreen;
  text-decoration: underline;
}

/* End of menu */

/* Team menu */

#team-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 30vw;
  height: 60vh;
  margin-left: 30vw;
  margin-top: 10vh;
  z-index: 3;
  visibility: hidden;
}

#team-inner {
  background: beige;
  width: 100%;
  height: 100%;
  margin-left: 2.5%;
  margin-top: -2.5%;
}

#team-close {
  display: inline-block;
  width: 10%;
  height: 9%;
  cursor: pointer;
}

#team-close:hover > .team-x {
  background-color: lightseagreen;
}

.team-x {
  position: absolute;
  background-color: darkred;
  width: 8%;
  height: 1%;
  margin-top: 4%;
  margin-left: 0.9%;
}

#team-x-1 {
  transform: rotate(-45deg);
}

#team-x-2 {
  transform: rotate(45deg);
}

#team-name {
  display: inline-block;
  color: darkgreen;
  margin: 0;
}

#team-img {
  width: 85%;
  height: 65%;
  margin-left: 7%;
  margin-top: 7%;
}

/* End of team menu */

/* Gins div */

#gains {
  position: absolute;
  width: 25vw;
  height: 29vh;
  margin-top: 66vh;
  margin-left: 1vw;
  transform: rotate(6deg);
}

#gains-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#gains-msg1 {
    position: absolute;
    color: black;
    margin-top: 9vh;
    margin-left: 1vw;
    font-size: 3.8vh;
    font-weight: bolder;
    transform: rotate(-9deg);
}

#gains-msg2 {
  position: absolute;
  color: deeppink;
  margin-top: 8.8vh;
  margin-left: 1.1vw;
  font-size: 3.8vh;
  font-weight: bolder;
  transform: rotate(-9deg);
}

/* End of gains div */

/* Buy div */

#buy {
  position: absolute;
  background-color: deeppink;
  height: 36vh;
  width: 73vh;
  margin-top: 60vh;
  right: 10vw
}

#buy-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#buy-speach {
  position: absolute;
  background-color: deeppink;
  width: 68%;
  height: 50%;
  border-radius: 50% / 50%;
  margin-top: 5%;
  margin-left: 2%;
}

#buy-speach-point {
  position: absolute;
    background-color: deeppink;
    width: 5%;
    height: 10%;
    margin-left: 65%;
    margin-top: 12.6%;
    transform: rotate(21deg);
}

#buy-text {
  position: absolute;
  color: black;
  margin-left: 17%;
  margin-top: 12%;
  text-align: center;
  font-size: 3.1vh
}

#buy-text-click {
  position: absolute;
  color: black;
  margin-left: 31%;
  margin-top: 16%;
  text-align: center;
  font-size: 3.1vh
}

#buy-text-click:hover {
  color: gold;
  text-decoration: underline;
  cursor: pointer;
}

/* End buy div */

/* Cool vids */

#cool-vids {
  width: 100%;
  font-size: 7vw;
  text-align: center;
  color: blue;
  position: absolute;
  z-index: 1;
}

/* End cool vids */

/* Wipeout */

#wipeout-gif {
  position: absolute;
  width: 40vw;
  height: 88vh;
  margin-left: 37vw;
  margin-top: 10vw;
  z-index: 0;
}

/* trey and trey2 */

#trey-gif {
  position: absolute;
  margin-top: 58vh;
  width: 30vw;
  height: 40vh;
  margin-left: 61vw;
  transform: rotate(11deg);
}

#trey2-gif {
  position: absolute;
  margin-top: 12vh;
  width: 30vw;
  height: 80vh;
  margin-left: 2vw;
  transform: rotate(-15deg);
}

/* trey end */

/* sustainability */

#sustainability-img {
  position: absolute;
  width: 88vw;
  height: 59vh;
  margin-top: 13px;
  margin-left: 5px;
}

#sustainability-text {
  position: absolute;
  font-size: 9vw;
  color: saddlebrown;
  margin-top: 40vh;
  margin-left: 10vw;
}

#sustainability-text2 {
  position: absolute;
  font-size: 9vw;
  color: lawngreen;
  margin-top: 40.5vh;
  margin-left: 10.5vw;
}

#pittedgnar-img {
  position: absolute;
  margin-top: 14vh;
  margin-left: 69vw;
  height: 20%;
  border-radius: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: beige;
}

#solar-button {
  position: absolute;
  margin-top: 2%;
  margin-left: 1%;
}
