
body {
  background-color: #eb670f;
  font-family: Papyrus;
  margin: 0;
}

#main {
  width: 100%;
  height: 100vh;
}

#phish {
  width: 100%;
  height: 70vh;
  background-color: lightskyblue;
}

/* Top header. H1 pittedgnar.com and world gif */

#pittedgnar-main {
  width: 59vw;
  position: absolute;
  z-index: 1;
}

#h1-pittedgnar {
  color: darkslategrey;
  font-size: 6.2vw;
  display: table-cell;
  padding-top: 13px;
}

#world-gif {
  position: absolute;
  height: 100%;
  margin-left: 3.6vw;
  transform: rotate(-20deg);
  user-select: none;
}

#world-div {
  display: table-cell;
  width: 100%;
  height: 100%;
}

#world {
  color: deeppink;
  margin-top: 5.7vh;
  margin-left: 1.6vw;
  position: absolute;
  transform: rotate(-17deg);
  font-size: 2.3vw;
}

/* End of top header */

/* Ambience */

#ambience {
  right: 4vw;
  position: absolute;
  margin-top: 2vh;
}

#ambience-h1 {
  font-size: 5vh;
}

/* Ambience end */

/* Cowabunga */

#cowabunga {
  margin-top: 12vh;
  margin-left: 2vw;
  width: 90vw;
  height: 77vh;
  transform: rotate(-5deg);
  position: absolute;
}

/* Looking */

#looking {
  position: relative;
  width: 19vw;
  float: right;
  margin-right: 1vw;
  margin-top: 12vh;
}

/* Menu-bar */

#menu-bar {
  cursor: pointer;
  position: absolute;
  width: 10vh;
  height: 10vh;
  margin-top: 10vw;
  margin-left: 2vw;
}

#menu-bar:hover > .bar {
  background-color: red
}

.bar {
  background-color: lightskyblue;
  position: absolute;
  width: 90%;
  height: 15%;
  margin-left: 5%;
  border-radius: 4px;
}

#bar1 {
  margin-top: 15%
}

#bar2 {
  margin-top: 45%
}

#bar3 {
  margin-top: 75%
}

/* End of menu bar */

/* Menu */

#menu {
  position: absolute;
  width: 16vw;
  height: 32vh;
  margin-top: 30vh;
  margin-left: 8vw;
}

#menuLink {
  color: lightskyblue;
  display: inline-block;
  font-size: 3vh;
}

#menuLink:hover {
  color: lawngreen
}

/* End of menu */

/* Gins div */

#gains {
  position: absolute;
  width: 25vw;
  height: 29vh;
  margin-top: 66vh;
  margin-left: 1vw;
  transform: rotate(6deg);
}

#gains-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#gains-msg1 {
    position: absolute;
    color: black;
    margin-top: 9vh;
    margin-left: 1vw;
    font-size: 3.8vh;
    font-weight: bolder;
    transform: rotate(-9deg);
}

#gains-msg2 {
  position: absolute;
  color: deeppink;
  margin-top: 8.8vh;
  margin-left: 1.1vw;
  font-size: 3.8vh;
  font-weight: bolder;
  transform: rotate(-9deg);
}

/* End of gains div */

/* Buy div */

#buy {
  position: absolute;
  background-color: deeppink;
  height: 36vh;
  width: 73vh;
  margin-top: 60vh;
  right: 10vw
}

#buy-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

#buy-speach {
  position: absolute;
  background-color: deeppink;
  width: 68%;
  height: 50%;
  border-radius: 50% / 50%;
  margin-top: 5%;
  margin-left: 2%;
}

#buy-speach-point {
  position: absolute;
    background-color: deeppink;
    width: 5%;
    height: 10%;
    margin-left: 65%;
    margin-top: 12.6%;
    transform: rotate(21deg);
}

#buy-text {
  position: absolute;
  color: black;
  margin-left: 17%;
  margin-top: 12%;
  text-align: center;
  font-size: 3.1vh
}

#buy-text-click {
  position: absolute;
  color: black;
  margin-left: 31%;
  margin-top: 16%;
  text-align: center;
  font-size: 3.1vh
}

#buy-text-click:hover {
  color: gold;
  text-decoration: underline;
  cursor: pointer;
}

/* End buy div */

/* Cool vids */

#cool-vids {
  width: 100%;
  font-size: 7vw;
  text-align: center;
  color: blue;
  position: absolute
}

#cool-vids-link {
  text-decoration: none;
  color: blue;
}

#cool-vids-link:hover {
  text-decoration: line-through;
  color: aliceblue;
}
